<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

<link th:href="@{/styles/board.css}" rel="stylesheet" />
<title>Gomoku Board</title>
<meta th:name="_csrf" th:content="${_csrf.token}" />
<meta th:name="_csrf_header" th:content="${_csrf.headerName}" />
</head>
<body>
	<div th:insert="~{menu}"></div>
	<div class="container special" style="padding-top: 0px">
		<div class="form-floating" style="display: inline-block">
			<div class="row">
				<div>
					<span style="margin: 30px; margin-left: 100px;">
					    <strong>Game type:</strong> [[${game.type}]]
					    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Black:</strong> [[${blackPlayer}]]
					    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>White:</strong> [[${whitePlayer}]]
					</span>

				</div>
			</div>
		</div>
		<div id="board" style="width: fit-content">
			<table>
				<th:block th:each="y: ${#numbers.sequence(0, game.boardSize)}">
					<tr>
						<th:block th:each="x: ${#numbers.sequence(0, game.boardSize)}">
							<td th:id="(${x}-1) + '/' + (${y}-1)" class="emptyCell" tabindex="-1"><th:block th:if="${y}==0"><th:block th:if="${x}>0" th:text="${x}-1"></th:block></th:block><th:block th:if="${x}==0"><th:block th:if="${y}>0" th:text="${y}-1"></th:block></th:block></td>
						</th:block>
					</tr>
				</th:block>
			</table>
		</div>
	</div>
	<div class="container special" style="padding-top: 20px">
		<div id="info">
			<div class="form-floating" style="display: inline-block">
				<div class="row">
					<div style="margin-left: 275px">
						<span><strong>Evaluation : </strong></span> <span id="evaluationValue"></span>
					</div>
				</div>
			</div>
		</div>
		<div id="buttons">
			<div class="form-floating" style="display: inline-block">
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3">
						<button type="submit" name="reset-game" id="reset-game" class="btn btn-default" title="Reset game">
							<em class="fa-solid fa-power-off" style="color: #0d6efd"></em>
						</button>
					</div>
				</div>
			</div>
			<div class="form-floating" style="display: inline-block">
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3">
						<button type="submit" name="undo-move" id="undo-move" class="btn btn-default" title="Undo move">
							<em class="fas fa-undo" style="color: #0d6efd"></em>
						</button>
					</div>
				</div>
			</div>
			<div class="form-floating" style="display: inline-block">
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3">
						<button type="submit" name="undo-move" id="redo-move" class="btn btn-default" title="Redo move">
							<em class="fas fa-redo" style="color: #0d6efd"></em>
						</button>
					</div>
				</div>
			</div>
			<div class="form-floating" style="display: inline-block">
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3">
						<button type="submit" name="compute-move" id="compute-move" class="btn btn-default" title="Compute move">
							<em id="computeIcon" class="fa-solid fas fa-cog fa-spin" style="color: #0d6efd"></em>
						</button>
					</div>
				</div>
			</div>
			<div class="form-floating" style="display: inline-block">
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3">
						<button type="submit" name="stop" id="stop" class="btn btn-default" title="Stop" style="outline: none !important">
							<em class="fa-solid fa-stop" style="color: #0d6efd; outline: none !important"></em>
						</button>
					</div>
				</div>
			</div>
			<div class="form-floating" style="display: inline-block">
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3">
						<button type="submit" name="lastMove" id="lastMove" class="btn btn-default" title="Last move"
							style="outline: none !important">
							<em class="fa-solid fa-question" style="color: #0d6efd; outline: none !important"></em>
						</button>
					</div>
				</div>
			</div>
			<div class="form-floating" style="display: inline-block">
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3">
						<button type="submit" name="downloadGame" id="downloadGame" class="btn btn-default" title="Download game"
							style="outline: none !important">
							<em class="fa-solid fa-download" style="color: #0d6efd; outline: none !important"></em>
						</button>
					</div>
				</div>
			</div>
			<div class="form-floating" style="display: inline-block">
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3">
						<button type="submit" name="uploadGame" id="uploadGame" class="btn btn-default" title="Upload game"
							style="outline: none !important">
							<em class="fa-solid fa-upload" style="color: #0d6efd; outline: none !important"></em>
						</button>
					</div>
				</div>
			</div>
			<div class="form-floating" style="display: inline-block">
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3">
						<button type="submit" name="saveGame" id="saveGame" class="btn btn-default" title="Save game"
							style="outline: none !important">
							<em class="fa-solid fa-save" style="color: #0d6efd; outline: none !important"></em>
						</button>
					</div>
				</div>
			</div>
			<div class="computeProgress" id="computeProgress1">
				<div class="minMaxProgressBar" id="progressBar1"></div>
			</div>
		</div>
	</div>
	<script th:inline="javascript">
		/*<![CDATA[*/
		var gameId = /*[[${game.id}]]*/'default';
		var moves = /*[[${game.moves}]]*/'default';
		var winningMoves = /*[[${winningMoves}]]*/'default';
		var userSettings = /*[[${userSettings}]]*/'default';
		var gameType = /*[[${game.type}]]*/'default';
		var boardSize = /*[[${game.boardSize}]]*/'default';
		var evaluation = /*[[${evaluation}]]*/'default';
		var isComputing = /*[[${isComputing}]]*/'default';
		var engineUrl = /*[[${engineUrl}]]*/'default';
		var username = /*[[${username}]]*/'default';
		var _csrf = /*[[${_csrf}]]*/'default';
		/*]]>*/
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
	<script type="text/javascript" th:src="@{/scripts/board.js}"></script>
</body>
</html>