.enabled {
	cursor: pointer;
}

.blue {
	color: blue;
}

.red {
	color: red;
}

.green {
	color: green;
}

.center-icon {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-container {
	display: flex;
}

.table-wrapper {
	margin-right: 20px; /* Optional: Add some spacing between the tables */
}